In [107]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns',None)
sns.set_theme()

In [108]:
flood_events = pd.read_csv('Indofloods Dataset/floodevents_indofloods.csv')

In [109]:
flood_events.head()

,EventID,Start Date,End Date,Peak Flood Level (m),Peak FL Date,Num Peak FL,Peak Discharge Q (cumec),Peak Discharge Date,Flood Volume (cumec),Event Duration (days),Time to Peak (days),Recession Time (day),Flood Type
0,INDOFLOODS-gauge-1010-1,2010-07-21,2010-07-21,47.95,2010-07-21,1,NaN,NaN,NaN,1,1,1,Flood
1,INDOFLOODS-gauge-1010-2,2016-07-23,2016-07-23,48.05,2016-07-23,1,NaN,NaN,NaN,1,1,1,Flood
2,INDOFLOODS-gauge-1010-3,2016-07-26,2016-07-26,48.00,2016-07-26,1,NaN,NaN,NaN,1,1,1,Flood
3,INDOFLOODS-gauge-1010-4,2017-08-11,2017-08-13,48.95,2017-08-12,1,NaN,NaN,NaN,3,2,2,Severe Flood
4,INDOFLOODS-gauge-1012-1,2010-07-21,2010-07-21,48.10,2010-07-21,1,NaN,NaN,NaN,1,1,1,Flood

In [110]:
flood_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4548 entries, 0 to 4547
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EventID                   4548 non-null   object
 1   Start Date                4548 non-null   object
 2   End Date                  4548 non-null   object
 3   Peak Flood Level (m)      4548 non-null   float64
 4   Peak FL Date              4548 non-null   object
 5   Num Peak FL               4548 non-null   int64
 6   Peak Discharge Q (cumec)  3993 non-null   float64
 7   Peak Discharge Date       3993 non-null   object
 8   Flood Volume (cumec)      3971 non-null   float64
 9   Event Duration (days)     4548 non-null   int64
 10  Time to Peak (days)       4548 non-null   int64
 11  Recession Time (day)      4548 non-null   int64
 12  Flood Type                4548 non-null   object
dtypes: float64(3), int64(4), object(6)
memory usage: 462.0+ KB

In [111]:
## check how many unique gauge stations are present
flood_events['gauge_id'] = flood_events['EventID'].str.split('-').str[:-1].str.join('-')

In [112]:
flood_events.head()

,EventID,Start Date,End Date,Peak Flood Level (m),Peak FL Date,Num Peak FL,Peak Discharge Q (cumec),Peak Discharge Date,Flood Volume (cumec),Event Duration (days),Time to Peak (days),Recession Time (day),Flood Type,gauge_id
0,INDOFLOODS-gauge-1010-1,2010-07-21,2010-07-21,47.95,2010-07-21,1,NaN,NaN,NaN,1,1,1,Flood,INDOFLOODS-gauge-1010
1,INDOFLOODS-gauge-1010-2,2016-07-23,2016-07-23,48.05,2016-07-23,1,NaN,NaN,NaN,1,1,1,Flood,INDOFLOODS-gauge-1010
2,INDOFLOODS-gauge-1010-3,2016-07-26,2016-07-26,48.00,2016-07-26,1,NaN,NaN,NaN,1,1,1,Flood,INDOFLOODS-gauge-1010
3,INDOFLOODS-gauge-1010-4,2017-08-11,2017-08-13,48.95,2017-08-12,1,NaN,NaN,NaN,3,2,2,Severe Flood,INDOFLOODS-gauge-1010
4,INDOFLOODS-gauge-1012-1,2010-07-21,2010-07-21,48.10,2010-07-21,1,NaN,NaN,NaN,1,1,1,Flood,INDOFLOODS-gauge-1012

In [113]:
## lets see how many unique gauge stations are there 
len(flood_events['gauge_id'].unique())

155

In [114]:
gauge_flood = flood_events.groupby('gauge_id')['Flood Type'].size().sort_values(ascending=False)

In [115]:
## get Info about this gauge id
meta_data = pd.read_csv('Indofloods Dataset/metadata_indofloods.csv')

In [116]:
meta_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   GaugeID                              214 non-null    object
 1   Warning Level                        214 non-null    float64
 2   Danger Level                         212 non-null    float64
 3   Station                              214 non-null    object
 4   Latitude                             214 non-null    float64
 5   Longitude                            214 non-null    float64
 6   River Name/ Tributory/ SubTributory  214 non-null    object
 7   Basin                                212 non-null    object
 8   State                                214 non-null    object
 9   Start_date                           214 non-null    object
 10  End_date                             214 non-null    object
 11  Level_Entries                        214 non-null    int64
 12  Streamflow_Entries                   214 non-null    int64
 13  Privacy                              214 non-null    object
 14  Source Catchment Area                198 non-null    float64
 15  Catchment Area                       214 non-null    float64
 16  Area variation (%)                   198 non-null    float64
 17  Reliability                          214 non-null    object
dtypes: float64(7), int64(2), object(9)
memory usage: 30.2+ KB

In [117]:
cautious_gauges = meta_data[meta_data['Reliability'] == 'Caution']

In [118]:
cautious_gauges.head()

,GaugeID,Warning Level,Danger Level,Station,Latitude,Longitude,River Name/ Tributory/ SubTributory,Basin,State,Start_date,End_date,Level_Entries,Streamflow_Entries,Privacy,Source Catchment Area,Catchment Area,Area variation (%),Reliability
21,INDOFLOODS-gauge-115,47.68,48.68,Benibad,26.1453,85.6922,Ganga/Kosi/ Bagmati,Ganga - Brahmaputra - Meghna/Barak,Bihar,1985-04-01,2010-12-30,9405,9384,Restricted,6160.0,1793.517334,70.884459,Caution
22,INDOFLOODS-gauge-164,204.50,205.33,delhi rly bridge,28.6625,77.2467,Ganga/Yamuna,Ganga - Brahmaputra - Meghna/Barak,Delhi,1963-06-06,2011-12-31,17741,17740,Restricted,18552.0,36437.187500,96.405711,Caution
30,INDOFLOODS-gauge-125,51.32,52.32,Saulighat,26.4089,85.8597,Ganga/Kosi/\nBagmati/Adhwara/ Dhaus,Ganga - Brahmaputra - Meghna/Barak,Bihar,1985-03-22,2010-12-31,9416,9371,Restricted,1932.0,3314.956299,71.581589,Caution
33,INDOFLOODS-gauge-124,44.72,45.72,Hayaghat,26.0333,85.9000,Ganga/Kosi/Bagmati,Ganga - Brahmaputra - Meghna/Barak,Bihar,1970-01-01,2010-01-31,14641,14611,Restricted,12973.0,8762.385742,32.456751,Caution
49,INDOFLOODS-gauge-116,45.94,46.94,Ekmighat,26.1167,85.8589,Ganga/Kosi/ Bagmati/Adhwara,Ganga - Brahmaputra - Meghna/Barak,Bihar,1985-04-01,2010-12-31,9405,9312,Restricted,4197.0,516.797852,87.686494,Caution

In [119]:
for idx, row in cautious_gauges.iterrows():
    gauge_id = row['GaugeID']
    flood_count = gauge_flood.get(gauge_id, 'Not Found')
    print(f'{gauge_id} : {flood_count}')

INDOFLOODS-gauge-115 : Not Found
INDOFLOODS-gauge-164 : Not Found
INDOFLOODS-gauge-125 : Not Found
INDOFLOODS-gauge-124 : Not Found
INDOFLOODS-gauge-116 : Not Found
INDOFLOODS-gauge-1050 : 41
INDOFLOODS-gauge-509 : 39
INDOFLOODS-gauge-1003 : Not Found
INDOFLOODS-gauge-370 : 24
INDOFLOODS-gauge-506 : Not Found
INDOFLOODS-gauge-833 : 6
INDOFLOODS-gauge-1010 : 4
INDOFLOODS-gauge-665 : 3
INDOFLOODS-gauge-422 : 2
INDOFLOODS-gauge-1084 : 2
INDOFLOODS-gauge-406 : 2
INDOFLOODS-gauge-421 : 2
INDOFLOODS-gauge-943 : 2
INDOFLOODS-gauge-367 : 1
INDOFLOODS-gauge-426 : 1
INDOFLOODS-gauge-445 : 1
INDOFLOODS-gauge-434 : 1
INDOFLOODS-gauge-485 : 1
INDOFLOODS-gauge-705 : 1
INDOFLOODS-gauge-1074 : 1
INDOFLOODS-gauge-1012 : 1
INDOFLOODS-gauge-626 : 1
INDOFLOODS-gauge-877 : 1

In [120]:
## gauge 1050 has 41 records and its cautious
meta_data[meta_data['GaugeID'] == 'INDOFLOODS-gauge-1050']

,GaugeID,Warning Level,Danger Level,Station,Latitude,Longitude,River Name/ Tributory/ SubTributory,Basin,State,Start_date,End_date,Level_Entries,Streamflow_Entries,Privacy,Source Catchment Area,Catchment Area,Area variation (%),Reliability
51,INDOFLOODS-gauge-1050,34.22,35.3,Tufanganj,26.3089,89.6756,Brahmaputra/ Torsa/\nRaidak-i,Ganga - Brahmaputra -Meghna/Barak,West Bengal,2012-06-02,2020-10-31,1023,0,Open,520.0,4924.346191,846.989652,Caution

In [121]:
## lets see the flood records at this place
tufanganj_floods = flood_events[flood_events['gauge_id'] == 'INDOFLOODS-gauge-1050']

In [122]:
tufanganj_floods

,EventID,Start Date,End Date,Peak Flood Level (m),Peak FL Date,Num Peak FL,Peak Discharge Q (cumec),Peak Discharge Date,Flood Volume (cumec),Event Duration (days),Time to Peak (days),Recession Time (day),Flood Type,gauge_id
29,INDOFLOODS-gauge-1050-1,2012-06-02,2012-06-02,65.80,2012-06-02,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
30,INDOFLOODS-gauge-1050-2,2012-06-07,2012-06-07,57.40,2012-06-07,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
31,INDOFLOODS-gauge-1050-3,2012-06-12,2012-06-17,131.40,2012-06-17,1,NaN,NaN,NaN,6,6,1,Severe Flood,INDOFLOODS-gauge-1050
32,INDOFLOODS-gauge-1050-4,2012-06-23,2012-06-23,95.60,2012-06-23,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
33,INDOFLOODS-gauge-1050-5,2012-06-25,2012-06-28,175.60,2012-06-27,1,NaN,NaN,NaN,4,3,2,Severe Flood,INDOFLOODS-gauge-1050
34,INDOFLOODS-gauge-1050-6,2012-07-05,2012-07-07,175.60,2012-07-06,1,NaN,NaN,NaN,3,2,2,Severe Flood,INDOFLOODS-gauge-1050
35,INDOFLOODS-gauge-1050-7,2012-07-11,2012-07-11,36.80,2012-07-11,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
36,INDOFLOODS-gauge-1050-8,2012-07-14,2012-07-14,42.60,2012-07-14,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
37,INDOFLOODS-gauge-1050-9,2012-07-16,2012-07-16,125.60,2012-07-16,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
38,INDOFLOODS-gauge-1050-10,2012-07-23,2012-07-24,54.60,2012-07-23,1,NaN,NaN,NaN,2,1,2,Severe Flood,INDOFLOODS-gauge-1050
39,INDOFLOODS-gauge-1050-11,2012-08-18,2012-08-18,51.60,2012-08-18,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
40,INDOFLOODS-gauge-1050-12,2012-08-22,2012-08-22,56.20,2012-08-22,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
41,INDOFLOODS-gauge-1050-13,2012-08-24,2012-08-24,153.80,2012-08-24,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
42,INDOFLOODS-gauge-1050-14,2012-09-15,2012-09-15,119.60,2012-09-15,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
43,INDOFLOODS-gauge-1050-15,2012-09-17,2012-09-17,80.60,2012-09-17,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
44,INDOFLOODS-gauge-1050-16,2012-09-19,2012-09-20,153.80,2012-09-19,1,NaN,NaN,NaN,2,1,2,Severe Flood,INDOFLOODS-gauge-1050
45,INDOFLOODS-gauge-1050-17,2012-09-22,2012-09-22,71.60,2012-09-22,1,NaN,NaN,NaN,1,1,1,Severe Flood,INDOFLOODS-gauge-1050
46,INDOFLOODS-gauge-1050-18,2012-10-01,2012-10-03,164.80,2012-10-02,1,NaN,NaN,NaN,3,2,2,Severe Flood,INDOFLOODS-gauge-1050
47,INDOFLOODS-gauge-1050-19,2014-08-24,2014-08-24,34.31,2014-08-24,1,NaN,NaN,NaN,1,1,1,Flood,INDOFLOODS-gauge-1050
48,INDOFLOODS-gauge-1050-20,2014-08-27,2014-08-28,35.41,2014-08-27,1,NaN,NaN,NaN,2,1,2,Severe Flood,INDOFLOODS-gauge-1050
49,INDOFLOODS-gauge-1050-21,2014-09-23,2014-09-23,34.64,2014-09-23,1,NaN,NaN,NaN,1,1,1,Flood,INDOFLOODS-gauge-1050
50,INDOFLOODS-gauge-1050-22,2015-06-08,2015-06-12,35.40,2015-06-11,1,NaN,NaN,NaN,5,4,2,Severe Flood,INDOFLOODS-gauge-1050
51,INDOFLOODS-gauge-1050-23,2015-08-17,2015-08-17,34.40,2015-08-17,1,NaN,NaN,NaN,1,1,1,Flood,INDOFLOODS-gauge-1050
52,INDOFLOODS-gauge-1050-24,2015-08-19,2015-08-24,35.52,2015-08-22,1,NaN,NaN,NaN,6,4,3,Severe Flood,INDOFLOODS-gauge-1050
53,INDOFLOODS-gauge-1050-25,2015-08-31,2015-09-04,35.58,2015-09-03,1,NaN,NaN,NaN,5,4,2,Severe Flood,INDOFLOODS-gauge-1050
54,INDOFLOODS-gauge-1050-26,2016-06-23,2016-06-27,35.24,2016-06-25,1,NaN,NaN,NaN,5,3,3,Flood,INDOFLOODS-gauge-1050
55,INDOFLOODS-gauge-1050-27,2016-07-22,2016-07-28,35.48,2016-07-24,1,NaN,NaN,NaN,7,3,5,Severe Flood,INDOFLOODS-gauge-1050
56,INDOFLOODS-gauge-1050-28,2017-07-10,2017-07-12,35.09,2017-07-11,1,NaN,NaN,NaN,3,2,2,Flood,INDOFLOODS-gauge-1050
57,INDOFLOODS-gauge-1050-29,2017-08-10,2017-08-17,36.69,2017-08-13,1,NaN,NaN,NaN,8,4,5,Severe Flood,INDOFLOODS-gauge-1050
58,INDOFLOODS-gauge-1050-30,2017-10-01,2017-10-01,34.30,2017-10-01,1,NaN,NaN,NaN,1,1,1,Flood,INDOFLOODS-gauge-1050
59,INDOFLOODS-gauge-1050-31,2018-07-02,2018-07-02,34.55,2018-07-02,1,NaN,NaN,NaN,1,1,1,Flood,INDOFLOODS-gauge-1050
60,INDOFLOODS-gauge-1050-32,2018-07-04,2018-07-06,35.80,2018-07-05,1,NaN,NaN,NaN,3,2,2,Severe Flood,INDOFLOODS-gauge-1050
61,INDOFLOODS-gauge-1050-33,2018-09-15,2018-09-16,34.54,2018-09-15,1,NaN,NaN,NaN,2,1,2,Flood,INDOFLOODS-gauge-1050
62,INDOFLOODS-gauge-1050-34,2020-06-26,2020-06-30,35.35,2020-06-28,1,NaN,NaN,NaN,5,3,3,Severe Flood,INDOFLOODS-gauge-1050
63,INDOFLOODS-gauge-1050-35,2020-07-03,2020-07-05,35.20,2020-07-03,1,NaN,NaN,NaN,3,1,3,Flood,INDOFLOODS-gauge-1050
64,INDOFLOODS-gauge-1050-36,2020-07-11,2020-07-16,35.92,2020-07-13,1,NaN,NaN,NaN,6,3,4,Severe Flood,INDOFLOODS-gauge-1050
65,INDOFLOODS-gauge-1050-37,2020-07-18,2020-07-20,35.25,2020-07-19,1,NaN,NaN,NaN,3,2,2,Flood,INDOFLOODS-gauge-1050
66,INDOFLOODS-gauge-1050-38,2020-07-22,2020-07-23,35.05,2020-07-22,1,NaN,NaN,NaN,2,1,2,Flood,INDOFLOODS-gauge-1050
67,INDOFLOODS-gauge-1050-39,2020-07-31,2020-08-02,34.99,2020-08-01,1,NaN,NaN,NaN,3,2,2,Flood,INDOFLOODS-gauge-1050
68,INDOFLOODS-gauge-1050-40,2020-09-15,2020-09-19,35.73,2020-09-16,1,NaN,NaN,NaN,5,2,4,Severe Flood,INDOFLOODS-gauge-1050
69,INDOFLOODS-gauge-1050-41,2020-09-24,2020-09-28,35.05,2020-09-28,1,NaN,NaN,NaN,5,5,1,Flood,INDOFLOODS-gauge-1050

In [123]:
gauge_flood

gauge_id
INDOFLOODS-gauge-394    419
INDOFLOODS-gauge-560    268
INDOFLOODS-gauge-571    242
INDOFLOODS-gauge-361    219
INDOFLOODS-gauge-364    175
                       ...
INDOFLOODS-gauge-705      1
INDOFLOODS-gauge-877      1
INDOFLOODS-gauge-832      1
INDOFLOODS-gauge-913      1
INDOFLOODS-gauge-889      1
Name: Flood Type, Length: 155, dtype: int64

In [124]:
df = flood_events[flood_events['gauge_id'] == 'INDOFLOODS-gauge-394']

In [125]:
## gather the rainfall data
df['Start Date'].min()
df['End Date'].max()

'2018-07-31'

In [126]:
meta_data[meta_data['GaugeID'] == 'INDOFLOODS-gauge-394']

,GaugeID,Warning Level,Danger Level,Station,Latitude,Longitude,River Name/ Tributory/ SubTributory,Basin,State,Start_date,End_date,Level_Entries,Streamflow_Entries,Privacy,Source Catchment Area,Catchment Area,Area variation (%),Reliability
0,INDOFLOODS-gauge-394,259.2,262.0,Biligundulu,12.18,77.73,Cauvery,Cauvery,Karnataka,1971-08-30,2020-05-27,17715,17273,Open,36682.0,36889.80078,0.566493,Safe

In [ ]:
import requests
import pandas as pd

# Define parameters
latitude = 12.18
longitude = 77.73
start_date = "1970-01-01"
end_date = "2020-12-31"

# Open-Meteo historical API endpoint
url = "https://archive-api.open-meteo.com/v1/archive"

# API parameters
params = {
    "latitude": latitude,
    "longitude": longitude,
    "start_date": start_date,
    "end_date": end_date,
    "daily": "precipitation_sum",
    "timezone": "Asia/Kolkata"  # optional, for local time
}

# Make request
response = requests.get(url, params=params)
data = response.json()

# Convert to DataFrame
rainfall_data = pd.DataFrame({
    "date": data["daily"]["time"],
    "precipitation_mm": data["daily"]["precipitation_sum"]
})

# Display first few rows
print(rainfall_data.head())

         date  precipitation_mm
0  1970-01-01               0.5
1  1970-01-02               0.0
2  1970-01-03               0.0
3  1970-01-04               0.0
4  1970-01-05               0.0